h1 {
 font-size: 8rem;
 text-align: center;
}

h2 {
 font-size: 4rem;
 text-align: center;
}

.card {
  margin-top: 20px;
  display: inline-block;
  height: 24rem;
  text-align: center;
}

.card-width {
	width: 20%
}

.card-img-top {
  height: 16rem;
}



.search-img {
  height: 70px;
  width : 70px;
  float: left;
  border-radius: 5px;
}
