h1 {
 font-size: 8rem;
 text-align: center;
}

h2 {
 font-size: 4rem;
 text-align: center;
}

.card {
  
}


.review-item {
.card
}


.search-img {
  height: 70px;
  width : 70px;
  float: left;
  border-radius: 5px;
}
