body {
    background: #b5d6f7;
}

.card {
  margin-top: 20px
}

.search-output {
  background-color: white;
  height: auto;
  margin: auto;
  border-radius: 25px;
}


.search-item {
  width: 25%;
  height: 70px;
  padding: 5px;
  display: inline-block;
}

.search-img {
  height: 70px;
  width : 70px;
  float: left;
  border-radius: 5px;
}

.search-img:hover {
  height: 100%;
  width : 100%;
  transition: width 2s, height 2s;
}

.search-text {
  width: 40%;
  height: 40%;
}


a {
  color: black
}
