img {
	border-radius:5px
}

h1, h2, h3, h4, h5, h6, p, a, nav {
 color: #37404f;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 2000% 2000%;
	animation: gradient 40s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card {
  margin-top: 20px
}

.search-output {
  background-color: white;
  height: auto;
  margin: auto;
  border-radius: 25px;
}


.search-item {
  width: 25%;
  height: 70px;
  padding: 5px;
  display: inline-block;
}




.search-img {
  height: 70px;
  width : 70px;
  float: left;
  border-radius: 5px;
}

.search-img:hover {
  height: 100%;
  width : 100%;
  transition: width 2s, height 2s;
}

/* .search-text {
  width: 40%;
  height: 40%;
} */


a {
  color: black
}
